@model IEnumerable<LuyenThi.Models.DonHang>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenDonHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayDatHang)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenDonHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDatHang)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaDonHang">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaDonHang">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaDonHang">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
